/*
Animations:
fade-in
expand-x
*/

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s forwards;
}

@keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.expand-x {
    min-height: 100%;
    width: 0;
    animation: expandX 1s forwards;
}

@keyframes expandX {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
