/*Start About*/
.header1 {
    display: flex;
    flex-direction: row-reverse;
    background: #fff;
    
}


.header-content1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 5rem;
}

.header-content1 h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 40px;
    line-height: 85px;
    letter-spacing: -0.04em;
    align-items: flex-end;
    margin: 3rem 0 0;
    direction: rtl;

}

.header-content1 p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: rgba(4, 12, 24, 1);
    margin-top: 1.5rem;
    direction: rtl;
}


.header-image1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

}

.header-image1 img {
    width: 70%;
    height: 80%;
    border-radius: 5%;
    margin-top: 3rem;
}
@media screen and (max-width: 1050px) {
    .header {
        flex-direction: column;
    }
    .header1 {
        flex-direction: column;
    }
    .header-content1 {
        margin: 3rem 0 3rem;
    }
    .header-content1 p {
        font-size: 22px;
        line-height: 24px;
    }
    .header-image1 img {
        display: none;
      }
}

@media screen and (max-width: 650px) {
    .header-content1 h1 {
        font-size: 48px;
        line-height: 60px;
    }
    .header-content1 p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .header-content1 h1 {
        font-size: 30px;
        line-height: 48px;
    }
    .header-content1 p {
        font-size: 14px;
        line-height: 24px;
    }
}
/*End About*/



/*Start services*/
.About_cards{
    background-color: #fff;
    padding: 1rem 3rem;
}
.About_title {
    display: flex;
    justify-content: right;
    color: #FF4820;
    font-size: 2.6em;
    font-weight: 800;
    margin-bottom: 20px;
}
.About_sub_title {
    display: flex;
    justify-content: center;
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: right;
}

.About_content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.About_card {
    width: 80vw;
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.1s ease;
    text-align: right;
    display: flex;
    align-items: center;
}

.About_card:hover {
    transform: scale(1.1);
    border: 2px solid #FF4820;
    box-shadow: 0 10px 30px rgba(1, 1, 1, 0.2); 
}

.About_card .icon {
    color: #FF4820;
    font-size: 5em;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    flex: 0 0 auto; 
    display: flex;
 
}

.About_info {
    text-align: center;
    direction: rtl;
}

.About_info h3{
    color: #FF4820;
    font-size: 1.2em;
    font-weight: 800;
    margin: 10px;
}
/*End services*/

.About_space {
    height: 100px;
    background-color: #fff;
}

.circular-img {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  border-radius: 50%;
  object-fit: cover; /* This ensures the image maintains its aspect ratio while being circular */
}